body{
  font-family: Verdana;
  background-color: black;
  text-align: center;
}
h1{
  font-size: 50px;
  color:white;
  font-weight: normal;

}

h6{
  color:aquamarine;
  font-size: 16px;
  text-decoration: underline;
  font-weight: normal;
}
